@using RTComm.Data
@using RTComm.Services
@inject IJobService JobService
@inject ICommentService commentService
@inject IJSRuntime jsRuntime





<div class="modal" tabindex="-1" role="dialog" id="commentViewModal">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Comments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
          </div>
        <div class="modal-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Job Name</th>
                            <th>Comment</th>
                            <th>Author</th>
                            <th>Date Added</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (jobObject.Comments != null)
                        {
                            @foreach (var comment in jobObject.Comments)
                            {
                        <tr>
                            <td>@comment.Job.Name</td>
                            <td>@comment.Comment</td>
                            <td>@comment.Author</td>
                            <td>@comment.Time</td>
                            <td><input type="button" class="btn btn-primary" @onclick="(() => PrepareForEdit(comment))" data-toggle="modal" data-target="#commentModal" value="Edit" /></td>
                            <td><input type="button" class="btn btn-danger" @onclick="(() => PrepareForDelete(comment))" data-toggle="modal" data-target="#confirmDeleteModal" value="Delete" /></td>

                        </tr>
                            }
                        }
                    </tbody>
                </table>
              
               
        </div>
        <div class="modal-body">
            
        </div>
    </div>
</div>
    </div>

<ClientDelete OnClick="@Delete" />
    
@code {
    [Parameter]
    public Jobs jobObject { get; set; }

    Comments commentObject = new Comments();

    private async Task CloseCommentModal()
    {
        await jsRuntime.InvokeAsync<object>("CloseModal", "commentViewModal");
    }

    private async void PrepareForEdit(Comments comment)//trying to pass thru the specific comment, but how to do so? 
    {
        commentObject = comment;

        await CloseCommentModal();

    }



    private async void PrepareForDelete(Comments comment)
    {
        commentObject = comment;
        await CloseCommentModal();
    }
     private async Task Delete()
    {
       
        var task = await commentService.Delete(commentObject);
        await jsRuntime.InvokeAsync<object>("CloseModal", "confirmDeleteModal");
       
        
    }

}
